@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color:#000000 ;
    color: #F6F6F6;
    justify-content: center;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.apresentacao-conteudo {
    width:615px;
    display:flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo {
    font-size: 36px;
    font-family:"Krona One", sans-serif;
}

.titulo-destaque {
    color: #8E26E0;
}

.apresentacao-conteudo-paragrafo {
    font-size: 20px;
    font-family: "Montserrat", 'sans-serif';
    font-weight: 400;
    padding: 10px;
}

.apresentacao-links {
    display: flex;
    justify-content: space-between;
}

.apresentacao-links-link {
    background-color: #8E26E0;
    border: none;
    color: #FFFFFF;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    padding: 21.5px 0;
    font-family: "Montserrat", 'sans-serif';
}