@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color:#000000 ;
    color: #F6F6F6;
    justify-content: center;
}

.cabecalho {
    padding-top: 2%;
}

.cabecalho-menu {
    display: flex;
    justify-content: center;
    font-weight: 400;
    gap: 80px;
}

.cabecalho-menu-link {
    padding: 10px;
    color: #F6F6F6;
    text-decoration: none;
    font-family:"Krona One", sans-serif;
}

.cabecalho-menu-link:hover {
    color: #8E26E0;
    transform: scale(1.1);
    transition: 0.5s;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
}

.apresentacao-conteudo {
    width:620px;
    display:flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo {
    font-size: 36px;
    font-family:"Krona One", sans-serif;
}

.titulo-destaque {
    color: #8E26E0;
}

.apresentacao-conteudo-paragrafo {
    font-size: 20px;
    font-family: "Montserrat", 'sans-serif';
    font-weight: 400;
    padding: 5px;
}

.apresentacao-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao-links-subtitulo {
    font-family:"Krona One", sans-serif;
    font-size: 24px;
}

.apresentacao-links-link {
    border: 2px solid #8E26E0;
    color: #F6F6F6;
    width: 378px;
    display: flex;
    justify-content: center;
    gap: 18px;
    border-radius: 8px;
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    padding: 21.5px 0;
    font-family: "Montserrat", sans-serif;
}

.apresentacao-links-link:hover {
    background-color: #272727;
    transform: scale(1.1);
    transition: 0.5s;
}


.apresentacao-imagem {
    width: 30%;
    border-radius: 20%;
    align-self: baseline;
}

.rodape {
    background-color:#8E26E0;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #F6F6F6;
    text-align: center;
    padding: 24px;
}